<html>
  <head>
    <style>
    body {
      background: rgb(10, 100, 100);
    }
    h1 {
      color: orange;
      font-family: fantasy;
    }
    </style>
  </head>
  <body>
    <h1>The SECRET NUMBER is</h1>
    <p><%= message %></p>
      <form>
        <input type='text' name='guess' />
        <input type='submit' value='Guess!' />
      </form>
    </p>
  </body>
</html>
